button {
  flex: 1;
  padding: 16px 24px;
  text-transform: uppercase;
  border: none;
  opacity: 0.9;
  color: white;
  background: #f44236;
  cursor: pointer;
}

button:hover {
  opacity: 1;
}

#clear-btn {
  background: #444;
}
